<div class="container">
  <div class="ij-breadcrum">
      <a>Home</a> >
      <a>Product List</a>
  </div>

      <div class="row">
       <div class="col-md-3">
           <div class="ij-product-filter ij-margin-top">
              <form [formGroup]="FilterForm" >
            <div class="ij-filter-title ">Filter</div>
                  <div formArrayName="Kgs"  class="ij-fliter-list ij-border-bottom">
                      <ul [formGroupName]="0" class="list-group">
                          <li><b>Kgs</b></li>
                          <li class="checkbox">
                              <label> <input formControlName="first" type="checkbox" value="">Less then 5 kg</label>
                          </li>
                          <li class="checkbox">
                              <label>  <input formControlName="second" type="checkbox" value=""> 10 kg</label>
                          </li>
                          <li class="checkbox">
                              <label> <input formControlName="thired" type="checkbox" value=""> 20 kg</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="fourth" type="checkbox" value=""> 30 kg</label>
                          </li>
                          <li class="checkbox">
                              <label> <input formControlName="fifth" type="checkbox" value=""> 40 kg</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="sixth" type="checkbox" value=""> 50 kg and Above</label>
                          </li>
                      </ul>
                </div>
                  <div formArrayName="Stock" class="ij-fliter-list ij-border-bottom">
                      <ul [formGroupName]="0" class="list-group">
                          <li><b>Stock</b></li>
                          <li class="checkbox">
                              <label><input formControlName="first"  type="checkbox" value=""> Around 5 km</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="second" type="checkbox" value=""> 10 km</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="thired" type="checkbox" value=""> 20 km</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="fourth" type="checkbox" value=""> 30 km</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="fifth" type="checkbox" value=""> 40 km</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="sixth" type="checkbox" value=""> 50 km and Above</label>
                          </li>
                      </ul>
                </div>
                <div formArrayName="Price" class="ij-fliter-list">
                      <ul [formGroupName]="0" class="list-group">
                          <li><b>Price</b></li>
                          <li class="checkbox">
                              <label><input formControlName="first" type="checkbox"> Less then 100</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="second" type="checkbox"> 200</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="thired" type="checkbox"> 300</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="fourth" type="checkbox"> 400</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="fifth" type="checkbox"> 400</label>
                          </li>
                          <li class="checkbox">
                              <label><input formControlName="sixth" type="checkbox"> 1000 and Above</label>
                          </li>
                      </ul>
                </div>
              </form>
        </div>
        <p>
          {{FilterForm.value | json}}
        </p>     
</div>
</div>
</div>